// ======== COLORS

$color-primary: #142cd6;  

$color-primary_medium: #17236F;
$color-primary_dark: #0C1238;

$color-secondary: #ed0f69;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #E8E8E8;

$color-grey-dark: #C9C9C9;
$color-grey-dark-2: #7b7b7b;

$color-yellow: #FFE709;


$color-white: #fff;
$color-black: #000;

$color-shadow: #E1E2E6;

$bg-color-select: #fd3d84;

// ========== FONT size

$default-font-size: 1.6rem;

// ========== FONT

$font-bold: Cabin;
$font-medium: Cabin;
$font-semibold: Cabin;
$font-regular: Cabin;

// ========== GRID & GUTTER

$grid-width: 114rem;

$gutter-vertical: 8rem;
$gutter-vertical-medium: 6rem;
$gutter-vertical-small: 5rem;
$gutter-vertical-very-small: 3rem;

$gutter-horizontal: 6rem;
$gutter-horizontal-small: 4rem;
