/* ============================================ */
/* ================ header part ================ */
/* ============================================ */

header {

  .navbar {
    padding: .9rem 1.5rem;
  }

  .navbar li .nav-link {
    font-size: 1.4rem;
    font-weight: 500 !important;
    letter-spacing: 0 !important;

    &_dark {
      color: $color-black !important;
    }
  }
}